﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-light justify-content-between">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Most Viewed", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Discussion Topics", "Index", "Discussions", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Help", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </nav>
    </div>

    <br />
    <!--The Header of the Pages-->
    <div class="row">
        <div class="col-md-3">
            <div class="center">
                <!--The Logo with Formatting so it doesn't look completely stupid.-->
                <img src="~/Images/logo.PNG" style="width:75%; padding-left:50px;" />
            </div>
        </div>
        <div class="col-md-9">
            <!--The Title of the Site with Formatting-->
            <h1 style="font-size:90px;"><b>Discussion Hub</b></h1>
            <br />
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--The Footer Starts here.-->
        <footer>
            <p>&copy; @DateTime.Now.Year - CS 461 2019</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("PageScripts", required: false)
</body>
</html>
