﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav">
        <li class="nav-item">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Home", null, new {  @class = "nav-link"})
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            @Html.ActionLink("Create Account", "Register", "Account", null, new { @class = "nav-link"})
        </li>
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link" })
        </li>
    </ul>
}
