﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="center">
            <!--The Heading of the Home Page-->
            <h1>Welcome</h1>
            <br />
            <!--The Search Bar-->
            <input type="text" name="search" id="search" placeholder="Search for discussions here" />
            <button type="submit" name="search" id="search">Search</button>
        </div>
    </div>
</div>
<br />

<!--The Buttons for the Home Page-->
<div class="row">
    <div class="col-md-0">
        <!--The Sign Up/Log In Button-->
        <!--<a class="btn btn-primary" @Html.ActionLink("Sign Up/Log-In", "Index", "Home")</a>-->
    </div>
    <div class="col-md-0">
        <!--The Most Viewed Button-->
        <!--<a class="btn btn-primary" @Html.ActionLink("Most Viewed", "Index", "Home")</a>-->
    </div>
    <div class="col-md-12">
        <!--The Main Discussion Button-->
        <hr />
        <h2>Content</h2>
        <p>Click here to head to the main discussion page!</p>
        <a class="btn btn-primary" @Html.ActionLink("Main Discussions", "Index", "Discussions")</a>
    </div>
</div>

