﻿@model IEnumerable<readygotravel.Models.State>
@{
    ViewBag.Title = "Find the perfect place for your vacation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <form method="get" form action="/Questionnaire/Index">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Let's find the perfect state to visit!</h2><hr />
                        <div class="form-group">
                            <label for="season">Which season will you be travelling during?</label>
                            <select id="season" name="season">
                                <option value="no preference">No preference</option>
                                <option value="spring">Spring</option>
                                <option value="summer">Summer</option>
                                <option value="fall">Fall</option>
                                <option value="winter">Winter</option>
                            </select>
                            <br /><br />
                            <label for="weather">What type of weather would you like?</label>
                            <select id="weather" name="weather">
                                <option value="no preference">No preference</option>
                                <option value="sunny">Sunny</option>
                                <option value="humid">Humid</option>
                                <option value="clear">Clear skies</option>
                                <option value="cloudy">Cloudy is okay</option>
                                <option value="rainy">Rain is okay</option>
                                <option value="snowy">Snowy</option>
                            </select>
                            <br /><br />
                            <label for="temperature">What type of daily temperature would you like?</label>
                            <select id="temperature" name="temperature">
                                <option value="0-120">No preference</option>
                                <option value="100-120">100s or higher</option>
                                <option value="80-99">80s to 90s</option>
                                <option value="60-79">60s to 70s</option>
                                <option value="40-59">40s to 50s</option>
                                <option value="0-39">30s or less</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.Result != null)
                    {
                    <div class="col-md-6">
                        <h3>Results</h3><hr />
                        <p>@ViewBag.Message</p>

                        @foreach (var item in Model)
                        {
                            <ul>
                                <li>@item.StateName</li>
                            </ul>
                        }
                        <p>***Temperature and weather data is taken from <a href="https://www.usclimatedata.com/climate/united-states/us">US Climate Data</a> and <a href="https://weatherspark.com/">Weather Spark</a>, based upon the first city selection from each state from US Climate Data. Larger states will have a greater variety of temperature and weather ranges depending upon the season and location, so please make sure to check the specifics of the city you eventually decide on visiting. Weather Spark is a great reference for that information!***</p>
                    </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>


