﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1> Style Guide </h1>
    <hr />
    <h6>Color Palette</h6>
</div>

<div class="palette-container">
    <div class="container">
        <br />
        <div class="palette">
            <ul>
                <li class="cp1 rounded">
                    <p>#72a2c3</p>
                </li>
                <li class="cp2 rounded">
                    <p>#174667</p>
                </li>
                <li class="cp3 rounded">
                    <p>#616466</p>
                </li>
                <li class="cp4 rounded">
                    <p>#b0b0b0</p>
                </li>
                <li class="cp5 rounded">
                    <p>#f9f9f9</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="larger"><span style="display: none;">&nbsp;</span><span style="display: none;">&nbsp;</span>Aa</h1>

            <div class="col-md-6 headers">
                <h5>Pacifico</h5>

                <ul>
                    <li>Regular</li>
                    <li><u>Underline</u></li>
                    <li><s>Strike through</s></li>
                    <li>Superscript<sup>1</sup></li>
                    <li>Subscript<sub>1</sub></li>
                </ul>
            </div>

            <div class="col-md-6 bodycopy">
                <h5>Roboto</h5>

                <ul>
                    <li class="light">Light</li>
                    <li>Regular</li>
                    <li><strong>Bold</strong></li>
                    <li><u>Underline</u></li>
                    <li><s>Strike through</s></li>
                    <li>Superscript<sup>1</sup></li>
                    <li>Subscript<sub>1</sub></li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <h1>H1 Heading</h1>

            <h2>H2 Heading</h2>

            <h3>H3 Heading</h3>

            <h4>H4 Heading</h4>

            <h5>H5 Heading</h5>

            <h6>H6 Heading</h6>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales, nisi vitae bibendum consectetur, erat ligula ultrices velit, eget maximus enim magna sit amet mauris. Suspendisse eleifend sollicitudin pellentesque. Curabitur sed ipsum id metus luctus gravida. Integer ut neque cursus, maximus erat a, efficitur risus. Curabitur a semper elit. Praesent sed sem lacinia, congue nunc vitae, luctus lacus. Maecenas semper quis tellus id suscipit. Mauris nec vulputate justo, a porta lectus. Ut et iaculis mi. Sed sit amet maximus turpis.</p>
        </div>
    </div>

    <h6>Lists</h6>

    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>One.</li>
                <li>Two.</li>
                <li>Three. Nulla ornare ipsum in est lobortis cursus. Nam sit amet ipsum dolor. Mauris ex urna, dignissim sed elementum mattis, euismod vitae quam. Nulla efficitur mi a varius ornare.</li>
                <li>Four. This is the last item in this list. Nulla ornare ipsum in est lobortis cursus.</li>
            </ul>
        </div>

        <div class="col-md-6">
            <ol>
                <li>One. </li>
                <li>Two.</li>
                <li>Three. Nulla ornare ipsum in est lobortis cursus. Nam it amet ipsum dolor. Mauris ex urna, dignissim sed elementum mattis, euismod vitae quam. Nulla efficitur mi a varius ornare</li>
                <li>Four. Nulla ornare ipsum in est lobortis cursus. Nam sit ipsum dolor. Mauris ex urna, dignissim sed elementum mattis, euismod vitae quam. Nulla efficitur mi a varius ornare.</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Forms</h2>

            <div class="col-md-6">
                <div class="form-check form-check-inline"><input checked="checked" class="form-check-input" id="inlineCheckbox1" selected="selected" type="checkbox" value="option1" /> <label class="form-check-label" for="inlineCheckbox1">Checkbox Select</label></div>
            </div>

            <div class="col-md-6">
                <div class="form-check form-check-inline"><input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="option2" /> <label class="form-check-label" for="inlineCheckbox2">Checkbox Select</label></div>
            </div>

            <div class="col-md-6">
                <div class="form-check form-check-inline"><input checked="checked" class="form-check-input" id="inlineRadio1" name="inlineRadioOptions" selected="selected" type="radio" value="option1" /> <label class="form-check-label" for="inlineRadio1">Checkbox Radio</label></div>
            </div>

            <div class="col-md-6">
                <div class="form-check form-check-inline"><input class="form-check-input" id="inlineRadio2" name="inlineRadioOptions" type="radio" value="option2" /> <label class="form-check-label" for="inlineRadio2">Checkbox Radio</label></div>
            </div>
            <input class="form-control" id="exampleInputPassword1" placeholder="Full Name" type="password" />
            <div><select class="form-control"><option disabled="disabled" selected="selected">- Select Insurance Type -</option><option value="Vehicle">Vehicle</option><option value="Health">Health</option><option value="Life">Life</option><option value="Liability">Liability</option><option value="Renters">Renters</option><option value="Home">Home</option> </select></div>
<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please leave a message" rows="8"></textarea>

            <div class="col-md-6">
                <p><a class="btn" href="#">Read More</a></p>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Tables</h2>

            <table border="0" cellpadding="0" cellspacing="0" summary="Each row names a Nordic country and specifies its total area and land area, in square kilometers">
                <caption>Sample table: Areas of the Nordic countries, in sq km</caption>
                <tbody>
                    <tr>
                        <th scope="col">Country</th>
                        <th scope="col">Total area</th>
                        <th scope="col">Land area</th>
                    </tr>
                    <tr>
                        <td scope="row">Denmark</td>
                        <td>43,070</td>
                        <td>42,370</td>
                    </tr>
                    <tr>
                        <td scope="row">Finland</td>
                        <td>337,030</td>
                        <td>305,470</td>
                    </tr>
                    <tr>
                        <td scope="row">Iceland</td>
                        <td>103,000</td>
                        <td>100,250</td>
                    </tr>
                    <tr>
                        <td scope="row">Norway</td>
                        <td>324,220</td>
                        <td>307,860</td>
                    </tr>
                    <tr>
                        <td scope="row">Sweden</td>
                        <td>449,964</td>
                        <td>410,928</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>