﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto" rel="stylesheet">
    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-1.12.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
</head>
<body>
    <div>
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-light justify-content-between fixed-top">
            <img src="https://bytebucket.org/bitspleasewou/seniorproject/raw/7ee06c13c21d5f884a02fb9cd3d2b3e287069430/ReadyGOTravel/images/readygotravel_15p.png">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item navChange">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn navbar-btn" })
                </li>
                <li class="nav-item navChange">
                    @Html.ActionLink("Top Locations", "Index", "TopLocations", null, new { @class = "btn navbar-btn" })
                </li>
                <li class="nav-item navChange">
                    @Html.ActionLink("About Us", "About", "Home", null, new { @class = "btn navbar-btn" })
                </li>
                <li class="nav-item navChange">
                    @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "btn navbar-btn" })
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </nav>
    </div>
    <div class="container-fluid contentSection">
        @RenderBody()
        <!--<footer>
                <hr />
            <p>&copy; @DateTime.Now.Year - Western Oregon University, Bits, Please! Senior Project</p>
        </footer>
            -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    @RenderSection("PageScripts", required: false)
</body>
</html>
