﻿@model  readygotravel.Models.Person
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Top Locations";
}
<div class="image-bar2 background-content">
    <div class="content">
        @if (Request.IsAuthenticated)
        {
            int position = @User.Identity.GetUserName().IndexOf("@");
            <h2>Welcome @User.Identity.GetUserName().ToString().Substring(0, position)!</h2>
        }
        else
        {
            <h2>Welcome Guest!</h2>
        }
        <div class="d-flex justify-content-center">
            <div class="row">
                <h3>Here we may be able to help you pick your next</h3>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <h3> Dream Destination!</h3>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <div class="row">
                <h4>Here we Showcase the Top 12 Locations to Visit in the US!</h4>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <h4>Click on the Picture of Any of the Destinations Below to Find out More About Each Location!</h4>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="container">
        <div class="jumbotron">

            <div><h3 style="text-align:center">Top Locations</h3></div>
            <hr />
            <div class="row">
                <div class="col-4">
                    <h6 style="text-align: center; margin:0;padding:0;">#1: Yellowstone Park - Wyoming</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Yellowstone.jpg")" style="width:270px; height:230px;" onclick="on(1)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact: </h6><p style="text-align: center; margin:0;padding:0;">It is the world's first national park established in 1872</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[0] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[0]</p>

                </div>
                <div class="col-sm-4">
                    <h6 style="text-align: center; margin:0;padding:0;">#2: Maui - Hawaii</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Maui.jpg")" style="width:270px; height:230px" onclick="on(2)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">It has 30 miles of white, red, and black sand beaches</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[1] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[1]</p>
                </div>
                <div class="col-sm-4">
                    <h6 style="text-align: center; margin:0;padding:0;">#3: Grand Canyon - Arizona</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Grand-Canyon.jpg")" style="width:270px; height:230px" onclick="on(3)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">At its widest point the Grand Canyon stretches 18 miles across</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[2] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[2]</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#4: New York City - New York</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/New-York.jpg")" style="width:270px; height:230px" onclick="on(4)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">More than 800 languages are spoken there among its 8 million citizens</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[3] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[3]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#5: San Francisco - California</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/San-Fran.jpg")" style="width:270px; height:230px" onclick="on(5)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">It is home to the largest competition of American wines in the world</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[4] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[4]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#6: Washinton D.C. - Maryland</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/D-C.jpg")" style="width:270px; height:230px" onclick="on(6)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The Library of Congress is the largest library in the world</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[5] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[5]</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#7: Boston - Massachusetts</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Boston.jpg")" style="width:270px; height:230px" onclick="on(7)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">It has is the deepest tunnel in the US running nearly 90 feet underground</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[6] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[6]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#8: Lake Tahoe - Nevada</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Lake-Tahoe.jpg")" style="width:270px; height:230px" onclick="on(8)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">Lake Tahoe is about 22 miles long and 12 miles wide with 72 miles of shoreline</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[7] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[7]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#9: Chicago - Illinois</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Chicago.jpg")" style="width:270px; height:230px" onclick="on(9)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">Four states can be seen from the Skydeck of the Sears Tower Building</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[8] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[8]</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#10: New Orleans - Louisiana</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/New-Orleans.jpg")" style="width:270px; height:230px" onclick="on(10)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The total mileage of canals in New Orleans exceeds that of Venice in Italy</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[9] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[9]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#11: Glacier National Park - Montana</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Glacier.jpg")" style="width:270px; height:230px" onclick="on(11)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The array of wildlife has hardly changed since the Lewis & Clark Expedition</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[10] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[10]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#12: Seattle - Washington</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Seattle.jpg")" style="width:270px; height:230px" onclick="on(12)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The largest man-made island in the US is Seattle’s Harbor Island</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[11] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[11]</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Overlay pannels for each locations-->
<div id="overlay1" onclick="off(1)">
    <div class="overlayContent">
        <div class="container">
            <div class="jumbotron">
                <h4 style="text-align: center">#1: Yellowstone Park - Wyoming</h4>
                <hr />
                <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>

                <div class="star1" align="center"></div>
            </div>
        </div>
    </div>
</div>
<div id="overlay2" onclick="off(2)">
    <div class="overlayContent">
        <div class="container">

            <div class="jumbotron">
                <h4 style="text-align: center">#2: Maui - Hawaii</h4>
                <hr />
                <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
                <div class="star2" align="center"></div>
            </div>
        </div>
    </div>
</div>
<div id="overlay3" onclick="off(3)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center">#3: Grand Canyon - Arizona</h4>
            <hr />
            <h6 style="text-align: center">Estimated Hotel cost by star rating:</h6>
            <div class="star3" align="center"><p>Loading ...</p></div>
        </div>
    </div>
</div>
<div id="overlay4" onclick="off(4)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#4: New York City - New York</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star4" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay5" onclick="off(5)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#5: San Francisco - California</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star5" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay6" onclick="off(6)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#6: Washinton D.C. - Maryland</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star6" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay7" onclick="off(7)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#7: Boston - Massachusetts</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star7" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay8" onclick="off(8)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#8: Lake Tahoe - Nevada</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star8" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay9" onclick="off(9)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#9: Chicago - Illinois</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star9" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay10" onclick="off(10)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#10: New Orleans - Louisiana</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star10" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay11" onclick="off(11)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#11: Glacier National Park - Montana</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star11" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay12" onclick="off(12)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#12: Seattle - Washington</h4>
            <hr />
            <h6 style="text-align: center">Estimated hotel cost by star rating:</h6>
            <div class="star12" align="center"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/FavoritesOverlay.js"></script>
