﻿@model  readygotravel.Models.Result
﻿@{
    /**/

    ViewBag.Title = "Results";
}
<div class="content">
            <h2>Your Results are in...</h2>
            @{
                if (ViewBag.Result == 0)
                {
            <div class="row">
                <div class="mx-auto d-block">
                    <img src="@Url.Content("~/Content/Images/CanGo.png")" style="width:210px; height:170px" />
                </div>
            </div>
            <div class="row" align="center">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message @string.Format("{0:C}", ViewBag.Total)</h4>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message2 @string.Format("{0:C}", ViewBag.Remaining)</h4>
                </div>
            </div>
                }
                else if (ViewBag.Result == 1)
                {
                <div class="row">
                    <div class="mx-auto d-block">
                        <img src="@Url.Content("~/Content/Images/AlmostGo.png")" style="width:210px; height:170px" class="img-responsive" />
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto d-block">
                        <h4>@ViewBag.Message @string.Format("{0:C}", ViewBag.Remaining)</h4>
                    </div>
                </div>
                }
                else
                {
                <div class="row">
                    <div class="mx-auto d-block">
                        <img src="@Url.Content("~/Content/Images/CannotGo.png")" align="middle" style="width:210px; height:170px" />
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto d-block">
                        <h4>@ViewBag.Message @string.Format("{0:C}", ViewBag.Remaining)</h4>
                    </div>
                </div>
                }
            }
</div>
<div class="content">
    <h2>Budget Breakdown:</h2>
    <hr />
    <div class="d-flex justify-content-end">
        <div class="row">
            <h6>Total Budget Allocated:&nbsp;</h6><h6 class="text-success">@string.Format("{0:C}", ViewBag.Total + ViewBag.Remaining)</h6>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="row">
            <h6>Total Flight Cost:&nbsp;</h6><h6 class="text-danger"> -$@Html.DisplayFor(m => m.AvgFlightAmount)</h6>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="row">
            @if (Model.AvgHotelAmount != (decimal)0.00)
            {
                <h6>Total Hotel Cost:&nbsp;</h6><h6 p class="text-danger"> -$@Html.DisplayFor(m => m.AvgHotelAmount)</h6>
            }
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="row">
            <h6>Total Food Cost (based on people per day):&nbsp;</h6><h6 class="text-danger"> -$@Html.DisplayFor(m => m.AvgFoodCost)</h6>
        </div>
    </div>
    <hr />
    @if (ViewBag.Result >= 1)
    {<div class="d-flex justify-content-end">
            <div class="row">
                <h6>This is how much additional funds you would need: &nbsp;</h6><h6 class="text-danger">=@string.Format("{0:C}", ViewBag.Remaining) </h6>
            </div>
        </div>
    }
    else
    {<div class="d-flex justify-content-end">
            <div class="row">
                <h6>This is your remaining budget for entertainment and transportation:&nbsp;</h6><h6 class="text-success">=@string.Format("{0:C}", ViewBag.Remaining) </h6>
            </div>
        </div>
    }
    <br />

    <div class="d-flex justify-content-end">
        <div class="row">
            @if (Model.AvgHotelAmount != (decimal)0.00)
            {
                <h6>The average hotel star value that was calculated based on your input is: @Html.DisplayFor(m => m.AvgHotelStar)</h6>
            }
            @if (Model.AvgHotelAmount == (decimal)0.00)
            {
                <h6>There were no hotels found given your search parameters</h6>
            }
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="row">
            @if (Model.AvgHotelAmount != (decimal)0.00)
            {

                for (int i = 0; i < ViewBag.Stars; i++)
                {
                    <img src="@Url.Content("~/Content/Images/Star.PNG")" align="middle" style="width:30px; height:20px" />

                }
                if (ViewBag.Decimal == (decimal)0.25)
                {
                    <img src="@Url.Content("~/Content/Images/1-4Star.PNG")" align="middle" style="width:30px; height:20px" />
                }
                if (ViewBag.Decimal == (decimal)0.5)
                {
                    <img src="@Url.Content("~/Content/Images/1-2Star.PNG")" align="middle" style="width:30px; height:20px" />
                }
                if (ViewBag.Decimal == (decimal)0.75)
                {
                    <img src="@Url.Content("~/Content/Images/3-4Star.PNG")" align="middle" style="width:30px; height:20px" />
                }
            }
        </div>
    </div>

    <br />
    <h6>@Html.ActionLink("Search Again", "Create")</h6>
</div>
    <br />
    <br />

